@import 'globals';

.flickity-viewport {
	width:100%;
	height:100%;
}

.flickity-enabled button.flickity-prev-next-button {
	border-radius: 0;
	background: none;
	padding: 0;
	width: 30px;
}

.gallery__slider.flickity-enabled button.flickity-prev-next-button.previous {
	left: -22.5px;
}

.gallery__slider.flickity-enabled button.flickity-prev-next-button.next {
	right: -22.5px;
}