@import '../globals';

#section--page--header--top {
	overflow: hidden;
	
	p.h6 {
		font-size: .85rem;
		font-weight: normal;
	}
	
	#section--page--header--top--flags {
		ul li {
			img {
				max-width: 99.99px;
				max-height: 33.33px;
			}
		}
	}
}