@import '../globals';

#section--page--footer--copyright {
	background: #EDF6FD !important;
	
	.brand__logo {
		img {
			width: 150px;
			height: 50px;
		}
	}
	
	.modal-dialog {
		position: absolute;
		margin: 0;
		width: 100%;
		max-width: none;
		height: 100%;
		left: 0;
		top: 0;
		border: 0;
	}
	
	.modal-dialog .modal-header > button {
		display: none;
	}
	
	.modal-content {
		border: 0;
		min-height: 100vh;
	}
}